
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 260.9rem;
}.component-2-M7f {
  box-sizing: border-box;
  padding: 2rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  border: solid 0.1rem #9747ff;
  width: 100%;
  position: relative;
  border-radius: 0.5rem;

  .property-1frame-15-2jb {
    flex-shrink: 0;
    margin-right: 6.5rem;
    height: 65.6rem;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    background-color: #ffffff;

    .item-10-x7T {
      width: 46.3rem;
      height: 65.6rem;
      object-fit: cover;
      vertical-align: top;
    }
  }
  .property-1frame-14-4wB {
    position: relative;
    background-color: #ffffff;
    flex-shrink: 0;
    margin-right: 6.3rem;
    height: 65.6rem;
    cursor: pointer;
    overflow: hidden;

    .item-9-CGh {
      height: 65.6rem;
      object-fit: cover;
      vertical-align: top;
      width: 46.4rem;
    }
  }
  .property-1frame-13-4ph {
    height: 65.6rem;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    background-color: #ffffff;
    flex-shrink: 0;
    margin-right: 6.2rem;

    .item-8-Yzm {
      height: 65.6rem;
      object-fit: cover;
      vertical-align: top;
      width: 46.3rem;
    }
  }
  .property-1frame-12-cjj {
    flex-shrink: 0;
    margin-right: 6.2rem;
    height: 65.6rem;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    background-color: #ffffff;

    .item-7-Wq7 {
      object-fit: cover;
      vertical-align: top;
      width: 46.4rem;
      height: 65.6rem;
    }
  }
  .property-1frame-11-dPw {
    cursor: pointer;
    overflow: hidden;
    position: relative;
    background-color: #ffffff;
    flex-shrink: 0;
    height: 65.6rem;

    .item-6-Mqj {
      width: 46.3rem;
      height: 65.6rem;
      object-fit: cover;
      vertical-align: top;
    }
  }
}
