
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 177.9rem;
}.component-3-RXP {
  position: relative;
  align-items: center;
  border: solid 0.1rem #9747ff;
  border-radius: 0.5rem;
  display: flex;
  box-sizing: border-box;
  padding: 2rem;
  width: 100%;
  overflow: hidden;

  .property-11-8Au {
    margin-right: 12.3rem;
    height: 65.8rem;
    cursor: pointer;
    flex-shrink: 0;

    .item-1-8q7 {
      vertical-align: top;
      width: 35.1rem;
      height: 65.8rem;
      object-fit: cover;
    }
  }
  .property-1frame-18-Cpy {
    position: relative;
    background-color: #ffffff;
    flex-shrink: 0;
    margin-right: 10.6rem;
    height: 65.8rem;
    cursor: pointer;
    overflow: hidden;

    .item-2-Vp5 {
      width: 35.1rem;
      height: 65.8rem;
      object-fit: cover;
      vertical-align: top;
    }
  }
  .property-1frame-19-opm {
    position: relative;
    background-color: #ffffff;
    flex-shrink: 0;
    margin-right: 10.6rem;
    height: 65.8rem;
    cursor: pointer;
    overflow: hidden;

    .item-3-Xkm {
      width: 35.1rem;
      height: 65.8rem;
      object-fit: cover;
      vertical-align: top;
    }
  }
  .property-1frame-20-rHF {
    overflow: hidden;
    position: relative;
    background-color: #ffffff;
    flex-shrink: 0;
    height: 65.8rem;
    cursor: pointer;

    .item-4-ZhT {
      object-fit: cover;
      vertical-align: top;
      width: 35.1rem;
      height: 65.8rem;
    }
  }
}
