
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 260.9rem;
}.component-1-sBF {
  box-sizing: border-box;
  position: relative;
  padding: 2rem;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  border: solid 0.1rem #9747ff;
  border-radius: 0.5rem;

  .property-1mtemadiyenalegriaafi1-final-3-XWh {
    margin-right: 6.9rem;
    height: 65.6rem;
    cursor: pointer;
    flex-shrink: 0;

    .mtemadiyenalegriaafi1-final-3-2CZ {
      vertical-align: top;
      width: 45.9rem;
      height: 65.6rem;
      object-fit: cover;
    }
  }
  .property-1frame-7-KBf {
    margin-right: 6.8rem;
    height: 65.6rem;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    background-color: #ffffff;
    flex-shrink: 0;

    .mtemadiyenalegriaafi2-final-2-di9 {
      width: 45.9rem;
      height: 65.6rem;
      object-fit: cover;
      vertical-align: top;
    }
  }
  .property-1frame-8-Y4R {
    overflow: hidden;
    position: relative;
    background-color: #ffffff;
    flex-shrink: 0;
    margin-right: 6.3rem;
    height: 65.6rem;
    cursor: pointer;

    .alegriaposter3-final-FjX {
      height: 65.6rem;
      object-fit: cover;
      vertical-align: top;
      width: 45.9rem;
    }
  }
  .property-1frame-9-kgH {
    flex-shrink: 0;
    margin-right: 7.4rem;
    height: 65.6rem;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    background-color: #ffffff;

    .alegriaposter4-final-D45 {
      height: 65.576rem;
      object-fit: cover;
      vertical-align: top;
      width: 45.9rem;
    }
  }
  .property-1alegriaposter5-final-5MB {
    height: 65.576rem;
    cursor: pointer;
    flex-shrink: 0;
    margin-bottom: 0.024rem;

    .alegriaposter5-final-9rq {
      width: 45.9rem;
      height: 65.576rem;
      object-fit: cover;
      vertical-align: top;
    }
  }
}
