
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 100.5rem;
}.frame-11-dyb {
  width: 100%;
  height: 71rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;

  .item-2-2-Aid {
    width: 100.5rem;
    height: 71rem;
    object-fit: cover;
    vertical-align: top;
  }
}
