
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 66.8rem;
}.frame-19-xHf {
  width: 100%;
  height: 100.5rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.frame-19-xHf .item-4-2-F1s {
  width: 66.8rem;
  height: 100.5rem;
  object-fit: cover;
  vertical-align: top;
}
