
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 57.667rem;
}.path-55-animate-svg-1Qu {
  width: 100%;
  height: 39.3917rem;
  overflow: hidden;
  position: relative;
}
.path-55-animate-svg-1Qu .path-55-animate-gif-vnm {
  width: 57.667rem;
  height: 39.3917rem;
  object-fit: cover;
  vertical-align: top;
}
